/* @media screen(max-width) {
    
} */

body {
    background-color: #293149;
    text-align: center;
    color: white;
}

h1 {
    font-size: 80px;
    text-shadow: 3px 0 #da0463;
    color: #DBEDF3;
    font-family: 'Arvo', serif;
}

main {
    min-height: calc(100vh - 90px);
}

.drum-kit {
    margin-top: 150px;
    user-select: none;

}

.drum {
    background-color: white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    margin: 10px;
    color: #DA0463;
    font-weight: 900;
    border: 10px solid #404B69;
    border-radius: 15px;
    text-shadow: 3px 0 #dbedf3;
    line-height: 2;
    font-family: 'Arvo', serif;
}

.pressed {
    box-shadow: 0px 0px 30px 0px rgba(187, 78, 214, 0.785);
    transform: scale(1.05);
}

.w {
    background-image: url("images/crash.png");
}


.a {
    background-image: url("images/kick.png");
}

.s {
    background-image: url("images/snare.png");
}

.d {
    background-image: url("images/tom1.png");
}

.j {
    background-image: url("images/tom2.png");
}

.k {
    background-image: url("images/tom3.png");
}

.l {
    background-image: url("images/tom4.png");
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}